.linkButton{
  background-color: #c5ad11;
  border: 2px solid #000000;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 8px 4px;
  cursor: pointer;
  border-radius: 5px;
  &:hover{
    background-color: #2ebb29;
    color: white;
  }}

.load{
  grid-column: span 3;
  display: flex;
  align-items: center;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #c5ad11; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    h3{
      grid-column: span 3;
      align-items: center;
      width: 100%;
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 0;
    }
}

.article{
    background-image: url(/src/assets/img/book_bg.svg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0;
    padding: 1rem 1rem;
    width: 310px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    h2{
        font-size: 1rem;
        font-weight: bold;
        padding: 0;
    }
    p{
        display: flex;
        align-self: flex-start;
        justify-content: left;
        font-size: .8rem;
        margin: 0;
        padding: 0;
    }
    a{
        display: flex;
        align-self: flex-end;
    }
    .cardul{
      background-color: #f3f3f3a8;
      
    }
    .cardimg{
      margin-left: auto;
    }


    .cardli{
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        margin-top: auto;

    }
 
}


@media only screen and (min-width: 1000px) {
    main{
        grid-column: span 3;
      }

    section{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        justify-items: center; 
        align-items: center;
        h1{
          grid-column: span 3;
          display: flex;
          align-items: center;
        }
        
    
        .article {
          height: 500px;
          width: calc(260% / 3);
        }
                 
      .article:hover {
          transform: scale(1.075);
          transition: transform 0.8s;
      
      }
}}

