

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.article{
    background-image: url(/src/assets/img/book_bg.svg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 1rem 1rem;
    width: 310px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    h2{
        font-size: .8rem;
        margin: 2rem 0 1rem 0;
        padding: 0;
    }
    p{
        display: flex;
        align-self: flex-start;
        justify-content: left;
        font-size: .7rem;
        margin: 0;
        padding: 0;
    }
    a{
        display: flex;
        align-self: flex-end;
        color: black;
        font-size: .7rem;
        margin: 0;
        padding: 0;}
}


@media only screen and (min-width: 1000px) {
    main{
        grid-column: span 3;
      }

    section{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        justify-items: center; 
        align-items: center;
        h1{
          grid-column: span 3;
          display: flex;
          align-items: center;
        }
    
        .article {
          height: 140px;
          width: calc(280% / 3);
        }
      .article:hover {
          transform: scale(1.075);
          transition: transform 0.8s;
      
      }
}}

