.copy{
    color: red;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.asset{
    font-size: 10px;
}