@import "header";
@import "search";
@import "article";
@import "about";
@import "footer";









@media only screen and (min-width: 1000px) {
  body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }

  #root {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1700px;
    align-items: center;
    margin: auto;

    
  }


    
  }
